.contact-us-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: #e3e3e3;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: .8rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: #030239;
  border-radius: 5px;
  color: white;
}
.save-btn {
  font-family: Poppins;
  border-radius: 2.5rem;
  background: linear-gradient(90.99deg, #3134db 0.83%, #009ee1 99.4%);
  border-radius: 2.5rem;
  border: none;
  padding: 1.3rem 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}
