.sidebar-main{
    background-color:rgba(255, 255, 255, 0.1);
  
    color:#FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.08);
}
.sidebar-main button{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.08);background-color:rgba(255, 255, 255, 0.08);
    padding: 1.3rem 2.5rem;    background: rgba(255, 255, 255, 0.08);
    border-radius: .5rem;
    color:#FFFFFF;
}
@media only screen and (max-width: 550px)  {
    .sidebar-main button{
        padding: 1rem 1rem; 
    }
}
@media screen and (max-width: 480px) {
    .sidebar-main button{
        padding: .5rem 0.6rem; 
    }
  }
    

    