#usecase-main {
  background-image: url("../../../assets/useCasesBack.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  padding-bottom:20rem;
}
.usecase-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
  font-family: Raleway;
  font-style: normal;
  

}

.usecase-main-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.1rem;
  letter-spacing: 0em;
  line-height: 127.69%;
  color: #3134db;
}

.usecase-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #393091;
}
.usecase-subheading {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  color: #4b4b4b;
}
.usecase-link-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  color: #393091;
}
@media screen and (max-width: 480px) {
  .usecase-container {
    padding: 12rem 0;
  }
}
